@import url('https://fonts.googleapis.com/css?family=Grenze:wght@100,200,300,400,500,600,700,800,900&display=swap');

$background-wood: url(images/seamless_wood.jpg);
$background-paper: url(images/book_page_baby_blue.png);
$image-splittermond: url(images/splittermond_trans.png);

$main-font: "Grenze", serif;

$wood-color: #2B1619ff;
$main-color: #25408Fff;
$main-color-light: #6DCFF6ff;

$font-size-normal: 1.6rem;
$font-size-large: 2rem;
$font-size-very-large: 2.6rem;
$font-size-small: 1.2rem;

@mixin gradient-border {
    border-image-source: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.2),rgba(0,0,0,0));
    border-image-slice: 1;
}

@mixin gradient-background {
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.5),rgba(255,255,255,0));
}



@mixin standard-font($font-size: $font-size-normal) {
    font-family: $main-font;
    line-height: 130%;
    font-size: $font-size;
}




.charsheet {
    padding: 0px !important;
    
}



.splittermond {
    display: flex;
    flex-direction: column;
    background: $background-wood, linear-gradient(90deg, $wood-color 0%, rgba(43, 22, 25, 0.8) 50%, $wood-color 100%);
    background-blend-mode: overlay, normal;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow-x: hidden;
    color: white;
    @include standard-font();

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    label {
        @include standard-font();
    }

    h1 {
        @include standard-font($font-size-very-large);
    }

    h2 {
        @include standard-font($font-size-large);
    }

    h3 {
        @include standard-font();
        text-transform: uppercase;
        color: $main-color;
    }

    label {
        @include standard-font($font-size-normal);
        font-weight: normal;
        margin:0;

        //text-transform: uppercase;
        display: block;
        color: $main-color;

        .secondary {
            font-size: 0.75em;
            color: #666;
        }
    }


    .paper {
        max-width: 960px;
        min-width: 760px;
        min-height: 800px;
        margin-right: -30px;
        color: black;
        border: 60px solid transparent;
        border-width: 40px 60px 60px 20px;
        border-image:$background-paper 40 60 60 20 fill stretch;

        .watermark {
            background: $image-splittermond;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }
    }

    .small {
        @include standard-font($font-size-small);
    }

    .large {
        @include standard-font($font-size-large);
    }

    
    .paper input, .paper select {
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0;
        border: none;
        background-color: transparent;
        border-bottom: none;
        border-radius: 3px;
        display: inline-block;
        min-width: 1.6em;
        width: 100%;
        border-bottom: 1px solid transparent;
        color: black;
        vertical-align: baseline!important;
        height: auto!important;
        box-sizing: border-box;

        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            @include gradient-border;
            border-bottom: 1px solid;
        }

        optgroup {
            text-transform: uppercase;
            color: $main-color;
            line-height: inherit;
            option {
                text-transform: none;
                color: black;
                line-height: inherit;
            }
        }
    }

    .paper select {
        width: auto;
    }

    .paper textarea {
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0;
        border: none;
        background-color: transparent;
        border-bottom: none;
        border-radius: 3px;
        display: inline-block;
        min-width: 1.6em;
        width: 100%;
        @include gradient-background();
        @include gradient-border;
        border-bottom: 1px solid;
            border-top: 1px solid;
        color: black;
        vertical-align: baseline!important;
        height: auto!important;
        box-sizing: border-box;

        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            
            
        }
    }

    button {
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
    }


    span.autoexpand {
        position: relative;
        display: inline-block;
        input {
            position: absolute;
            width: 100%;
            z-index: 1000;
            left: 0px;
            vertical-align: baseline;
        }

        > span.autoexpand {
            visibility: hidden;
            display: inline-block;
            text-transform: inherit;
            font-size: 1em;
            font-weight: inherit;
            line-height: inherit;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            padding-right: 0.2em;
            //min-width: 1.5em;
            min-height: 1.5em;
            white-space: nowrap;

            &:empty:after {
                content: attr(placeholder);
            }
        }
    }

    .pre {
        white-space: pre-line;
        text-align: left;
    }
    .tab-content {
        display: none;
        margin-top: 10px;
    }


    .tab-nav {
        position: sticky;
        vertical-align: baseline;

        

        button {
            @include standard-font();
            display: inline-block;
            padding: 0.5em;
            padding: 0.5em;
            background: transparent;
            border: none;
            outline: none;
            font-weight: 900;
            
            background: linear-gradient(#fff, $wood-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0px 1px 2px black);
            text-transform: uppercase;

            &:hover,
            &:active {
                background-color: $main-color-light;
                background: linear-gradient(180deg, #FFFFFF 20%, $main-color-light 80%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .icon {
            font-family: 'Pictos';
            text-transform: none;
        }

    }

    input[name="attr_tab"] {
        $pc_tabs: einstellungen, grundwerte, fertigkeiten, kampf, entwicklung, ausruestung;
        @each $tabid in $pc_tabs {
            &[value=#{$tabid}] ~ .tab-group div .tab-content.#{$tabid} {
                display: flex;
            }

            &[value=#{$tabid}] ~ div.tab-nav button[name="act_#{$tabid}"] {
                background-color: $main-color-light;
                background: linear-gradient(180deg, #FFFFFF 20%, $main-color-light 80%), ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .data-section {
        display: flex;
    }

    .data-section-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .data-section-column {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .data-area {
        @include gradient-border();
        @include gradient-background();
        gap: 5px;
        border-bottom: 1px solid;

        input[type="number"],
        input[type="text"]{
            text-align:center;
            width: 100%;
        }

    }

    .data-header {
        @include gradient-border();
        gap: 5px;
        border-bottom: 1px solid;

        span {
            @include standard-font($font-size-small);
            color: #666;
            justify-self: center;
        }

        h3 {
            white-space: nowrap;
        }
    }

    .main-value {
        @include standard-font($font-size-large);
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .grundwerte {
        flex-direction: column;
        align-items: center;

        h1 {
            display: block;
            width: 100%;
            text-align: center;
        }
        .data-section-personal {
            margin-top: 10px;
            margin-bottom: 10px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 1px solid;
            @include gradient-border;

            .data-set {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;

                input {
                    text-align: center;
                }

                label {
                    display: block;
                    text-align: center;
                    margin-top: -0.4em;
                }
            }
        }
        .data-section-attribute {
            display: flex;
            flex-direction: column;
        

            margin-top: 10px;
            margin-bottom: 10px;

            .data-area,
            .data-header {
                display: grid;
                align-items: baseline;
                grid-template-columns: 6em 2em 2.5em 2.5em 2.5em;
            }

            .data-area {
                padding-bottom: 5px;
                label {
                    @include standard-font($font-size-normal);
                    text-align: right;
                    align-self: center;
                    font-weight: bold;
                    .secondary{
                        display:block;
                        font-weight: normal;
                        line-height: 1em;
                    }
                }

                label span.secondary {
                    line-height: 1em;
                }


                input[name$="start"] {
                    color: #666;
                }

                input {
                    @include standard-font($font-size-normal);
                }
            }
        }

        .data-section-abgeleitetewerte {
            @extend .data-section-attribute;

            .data-area,
            .data-header {
                grid-template-columns: 8em 3.5em 2.5em;
            }
        }
        .data-section-ressourcen {
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 15em;
            box-sizing: border-box;
            .data-header {
                h3 {
                    text-align: center;
                }
            }

            .data-area {
                margin-bottom: 5px;
                > div {
                    margin-bottom: 5px;
                }
                div > div {
                    display: grid;
                    grid-template-columns: 12em 2.5em;
                    padding-bottom: 5px;

                    input{
                        text-align: center;
                    }
                }
            }
        }
        .data-section-staerken {
            @extend .data-section-ressourcen;
        }
        .data-section-schwaechen {
            @extend .data-section-ressourcen;
            min-width: 12em;
            .data-area {
                div > div {
                    grid-template-columns: 12em;
                }
            }
        }

        .data-section-sprachen {
            @extend .data-section-schwaechen;
        }

        .data-section-kulturkunde {
            @extend .data-section-schwaechen;
        }

        .data-section-attributmods {
            @extend .data-section-staerken;
            min-width: 35em;
            max-width: 45em;

            .data-header {
                display: grid;
                align-items: baseline;
                grid-template-columns: 1.5em 1fr 15em 2.5em;

                h3 {
                    text-align: left;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
            .data-area {
                div > div {
                    gap: 5px;
                    grid-template-columns: 1.5em 1fr 15em 2.5em;
                    align-items: baseline;
                    margin-bottom: 5px;
                    padding-bottom: 0px;
                    input[type="checkbox"]:not(:checked) ~ * {
                        color: rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }

    .fertigkeiten {
        > div {
            margin-top:20px;
        }

        .data-section-fertigkeiten {
            display: flex;
            flex-direction: column;

            .data-header,
            .data-area {
                display: grid;
                align-items: baseline;
                grid-template-columns: 9em 2.5em 2.5em 2.5em 2.5em;
            }

            

            .data-area {
                padding-bottom: 5px;
                padding-top: 5px;
                label {
                    text-align: right;
                    .secondary{
                        display:block;
                    }
                }

                input {
                    @include standard-font($font-size-large);
                }

                input[name$="punkte"],
                input[name$="moduser"] {
                    @include standard-font($font-size-normal);
                }


                span button {
                    align-self: baseline;
                }

                div.line {
                    grid-column-start: 1;
                    grid-column-end: 6;
                    height: 0px;
                    @include gradient-border();
                    border-bottom: solid 1px;
                    &:last-child {
                        display: none;
                    }
                }

                .tooltiptext {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 5px;
                    font-size: 1em;
                    width: 12em;
                    margin-left: -6em;
                    
                    label {
                        font-size: 1em;
                        width: 100%;
                        text-align: right;
                    }

                    span {
                        text-align: left;
                        color: black;
                        font-size: 1em;
                        font-weight: bold;
                    }
                    span.pre {
                        text-align: left!important;
                        color: $main-color;
                        font-size: 1em;
                        grid-column-start: 1;
                        grid-column-end: 5;
                        font-weight: normal;
                        text-align: center;
                    }
                }
            }
        }

        .data-section-magieschulen {
            @extend .data-section-fertigkeiten;
        }

        .data-section-kampffertigkeiten {
            @extend .data-section-fertigkeiten;
        }
    }

    .kampf {
        flex-direction: column;
        align-items: center;

        > div {
            margin-top:20px;
        }

        .data-section-lebenspunkte {
            display: flex;
            flex-direction: column;

            .data-header {
                padding-top: 5px;
                align-items: baseline;
                h3 {
                    text-align:center;
                }
            }

            .data-area.lebenspunkte  {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                padding-top: 5px;
                padding-bottom: 5px;

                .gesundheitsstufen {
                    width: 8em;
                    padding-right: 10px;
                    span {
                        display: block;
                        text-align: right;
                        width: 100%;
                        color: #666;
                    }

                    input[name="attr_gesundheitsstufe"][value="1"] ~ span.unverletzt,
                    input[name="attr_gesundheitsstufe"][value="2"] ~ span.angeschlagen,
                    input[name="attr_gesundheitsstufe"][value="3"] ~ span.verletzt,
                    input[name="attr_gesundheitsstufe"][value="4"] ~ span.schwerverletzt,
                    input[name="attr_gesundheitsstufe"][value="5"] ~ span.todgeweiht,
                    input[name="attr_gesundheitsstufe"][value="6"] ~ span.todgeweiht {
                        font-weight: bold;
                        color: black;
                    }
                }
                .lebenspunkte {
                    font-family: "Pictos";
                    word-break: break-word;

                    .verzehrt {
                        color: $main-color;
                    }

                    .erschoepft {
                        color: $main-color-light;
                    }

                    .kanalisiert {
                        color: #999;
                    }

                    .lebenspunkte-t {
                        color: white;
                    }
                }

                @for $i from 4 through 30 {
                    input[name="attr_lebenspunkte"][value="#{$i}"] ~ .lebenspunkte {
                        width: 0.84em * $i;
                    }
                }
                

            }

            .data-area.wundabzug {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                width: 100%;
                label {
                    width: 8em;
                    text-align: right;
                    padding-right: 10px;
                }

                span, 
                input{
                    display: inline-block;
                    width: 3em;
                    font-size: 1.2em;
                    line-height: 1.5em;
                }
            }

            .data-area.schaden {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: center;
                width: 100%;
                label {
                    display: block;
                    width: 100%;
                    text-align: center;
                }

                .action {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: center;
                    width: 100%;

                    input {
                        width: 3em;
                        text-align: right;
                    }

                    select {
                        width: 6em;
                    }
                }
            }
        }

        
        .data-section-zustaende {
            max-width: 20em;
            min-width: 16em;
            .data-header {
                h3 {
                    text-align: center;
                }
            }
            .data-area {
                padding-top: 5px;
                
                div > div {
                    display: grid;
                    gap: 5px;
                    grid-template-columns: 1.5em 1fr 2.5em;
                    align-items: baseline;
                    margin-bottom: 5px;

                    input[type="checkbox"]:not(:checked) ~ * {
                        color: rgba(0,0,0,0.5)
                    }
                    
                }
            }
        }

        .data-section-fokus {
            display: flex;
            flex-direction: column;

            width: 12em;

            .data-header {
                h3 {
                    text-align:center;
                }
            }

            .data-area.fokus  {
                font-family: "Pictos";
                word-break: break-word;

                .verzehrt {
                    color: $main-color;
                }

                .erschoepft {
                    color: $main-color-light;
                }

                .kanalisiert {
                    color: #999;
                }

                .lebenspunkte-t {
                    color: white;
                }
            }
        }


        .data-section-waffen {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            margin-left: 5%;
            margin-right: 5%;

            .data-header {
                h3 {
                    width: 100%;
                    text-align: center;
                }
            }

            .waffen-eintrag {
                margin-top: 10px;
                .data-header,
                .data-area {
                    display: grid;
                    align-items: end;
                    justify-items: center;
                    grid-template-columns: minmax(12em, auto) 2.5em 2.5em 4em 2.5em 12em 5em;

                    input[name="attr_waffenname"] {
                        @include standard-font($font-size-large);
                        padding-bottom: 0px;
                        margin-bottom: -1px;
                    }
                }

                .data-area {
                    align-items: baseline;

                    select[name="attr_waffenskill"],
                    select[name^="attr_waffenattr"] {
                        @include standard-font($font-size-small);
                        width: auto;
                    }

                    span[name="attr_waffenwert"] {
                        @include standard-font($font-size-large);
                        text-align: center;
                    }

                    input[name="attr_waffenmod"]:before {
                        content: "+";
                    }

                    input[name="attr_waffennotizen"] {
                        text-align: left;
                    }

                    label {
                        display: inline;
                    }

                    div {
                        white-space: nowrap;
                        width: 100%;
                    }
                }

                
            }
            
        }

        .data-section-zauber {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            margin-left: 5%;
            margin-right: 5%;

            .data-header {
                h3 {
                    width: 100%;
                    text-align: center;
                }
            }

            .zauber-eintrag {
                margin-top: 10px;
                .data-header,
                .data-area {
                    display: grid;
                    align-items: end;
                    justify-items: center;
                    grid-template-columns: minmax(10em, auto) 2.5em 2.5em 2.5em 4em 6em 2.5em 2.5em 2.5em 5em;

                    input[name="attr_zaubername"] {
                        @include standard-font($font-size-large);
                        padding-bottom: 0px;
                        margin-bottom: -1px;
                    }
                }

                .data-area {
                    align-items: baseline;

                    select[name="attr_magieschulen"]{
                        @include standard-font($font-size-small);
                        width: auto;
                    }

                    span[name="attr_zauberwert"] {
                        @include standard-font($font-size-large);
                        text-align: center;
                    }

                    input[name="attr_zauberwirkung"] {
                        text-align: left;
                    }

                    label {
                        display: inline;
                    }

                    div {
                        white-space: nowrap;
                        width: 100%;
                    }
                }
            }
        }

        .data-section-ruestungen {
            display: flex;
            flex-direction: column;

            align-self: stretch;
            margin-left: 5%;
            margin-right: 5%;

            .data-area > div > div,
            .data-header {
                align-items: baseline;
                display: grid;
                grid-template-columns: 1.5em 1.5fr 2.5em 2.5em 2.5em 2.5em 1fr;
                gap: 5px;
            }

            

            .data-area > div > div,
            .data-header {
               
                align-items: baseline;
                padding-top: 5px;
                padding-bottom: 5px;

                input[type="checkbox"]:not(:checked) ~ * {
                    color: rgba(0,0,0,0.5);
                }

                input, select {
                    text-align:center;
                    width: 100%;
                    font-size: 1em;
                }
                input[name$="name"] {
                    @include standard-font($font-size-large);
                    text-align:left;
                }
                span {
                    text-align: center;
                }

                label {
                    text-align: right;
                }
                
            }
        }

        .data-section-meisterschaften {
            display: flex;
            flex-direction: column;

            align-self: stretch;
            margin-left: 5%;
            margin-right: 5%;

            .data-area > div > div,
            .data-header {
                align-items: baseline;
                display: grid;
                grid-template-columns: 12em 11em 2.5em auto;
                gap: 5px;
            }

            

            .data-area > div > div,
            .data-header {
               
                align-items: baseline;
                padding-top: 5px;
                padding-bottom: 5px;


                input, select {
                    text-align:left;
                    width: 100%;
                }

                input[type="number"] {
                    text-align:center;
                    width: 100%;
                }
                
            }
        }
    }

    .entwicklung {
        flex-direction: column;
        align-items: center;
        > div {
            margin-top:20px;
        }

        .data-header {
            h3 {
                text-align: center;
            }
        }

        textarea {
            border: none;
            width: 100%;
            height: auto;
        }

        .data-section-geld,
        .data-section-erfahrungspunkte {
            .data-area {
                align-items: baseline;
                display: grid;
                justify-content: start;
                grid-template-columns: 1fr 1fr;
                gap: 5px;

                label {
                    text-align: right;
                }

                input, span {
                    width: 3em;
                    text-align: center;
                }
            }
        }

        .data-section-notizen,
        .data-section-ausruestung {
            width: 100%;
        }
    }

    .ausruestung {
        flex-direction: column;
        align-items: center;
        > div {
            margin-top:20px;
        }
        .data-section-ausruestung {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            margin-left: 5%;
            margin-right: 5%;

            h3 {
                width: 100%;
                text-align: center;
                input[type="text"] {
                    text-align: center;
                }
            }

            .data-header,
            .data-area {
                display: grid;
                align-items: end;
                justify-items: center;
                grid-template-columns: 2em 2.5em minmax(10em, auto) 2.5em 2.5em 8em minmax(10em, auto);
            }

            .data-area {
                align-items: baseline;

                input[type="text"] {
                    text-align: left;
                }

                select[name="attr_zustand"]{
                    width: auto;
                }
            }
        }
    }



    .tooltip {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        position: absolute;
        box-sizing: border-box;
        z-index: 2000;
        visibility: hidden;
        background-color: white;
        color: $main-color;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        width: 8em;
        bottom: 100%;
        left: 50%;
        margin-left: -4em;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);      
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;

        &::before {
            all: initial;
            display: inline-block;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;		  
            border-top: 10px solid white;
            position: absolute;
            bottom: -10px;
            content: '';
            left: 50%;
            transform: translate(-50%, 0);
            margin-bottom: 5px;
        } 
    
    }

}




