@import url('https://fonts.googleapis.com/css?family=Grenze:wght@100,200,300,400,500,600,700,800,900&display=swap');

$background-wood: url(http://www.dark-spirits.de/userdata/Loki/spm/seamless_wood.jpg);
$background-paper: url(http://www.dark-spirits.de/userdata/Loki/spm/book_page_baby_blue.png);
$image-splittermond: url(http://www.dark-spirits.de/userdata/Loki/spm/Splittermond_trans.png);

$main-font: "Grenze", serif;

$wood-color: #2B1619ff;
$main-color: #25408Fff;
$main-color-light: #6DCFF6ff;

$font-size-normal: 1.6rem;
$font-size-large: 2rem;
$font-size-very-large: 2.6rem;
$font-size-small: 1.2rem;

@mixin gradient-border {
    border-image-source: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.2),rgba(0,0,0,0));
    border-image-slice: 1;
}

@mixin gradient-background {
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.5),rgba(255,255,255,0));
}



@mixin standard-font($font-size: $font-size-normal) {
    font-family: $main-font;
    line-height: 130%;
    font-size: $font-size;
}



/*
.charsheet {
    padding: 0px !important;
    
}
*/

.itemcontrol {
    z-index: 2000;
}

.repcontrol[data-groupname="repeating_aawaffen"] {
    position: absolute;
    height: 0px;
    width: 0px;
    display: none;
    left: -10000;
}


.repcontrol button.btn {
    background-color: transparent;
    background-image: none;
    border: none;
    box-sizing: content-box;
    padding: 1em;
    border-radius: $font-size-very-large;

    

    margin: 5px;

    width: $font-size-very-large;
    height: $font-size-very-large;

    font-size: 0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    vertical-align: middle;

    &:after {
        color: $main-color;
        font-family: "pictos";
        font-size: $font-size-large;
        opacity: 1;
        vertical-align: middle;
    }

    &.repcontrol_add:after {
        content: "&";
    }

    &.repcontrol_edit:after {
        content: "(";
    }

    box-shadow: none;
    

    &:hover, &:focus {
        background-color: transparent;
        background-image: none;
        border:none;
        outline: none;
        box-shadow: 0 3px 4px rgba(0,0,0,0.3), 0 -3px 4px rgba(255,255,255,0.3);
    }

    &:active {
        background-color: transparent;
        background-image: none;
        border:none;
        outline: none;
        box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
    }
}

button[type="action"],
button[type="roll"]  {
    background: none;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: $font-size-very-large;
    height: $font-size-very-large;
    vertical-align: middle;

    color: $main-color;
    font-size: $font-size-normal;
    font-weight: bold;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:before {
        content: "";
    }

    &:hover, &:focus {

        border:none;
        outline: none;
        box-shadow: 0 3px 4px rgba(0,0,0,0.3), 0 -3px 4px rgba(255,255,255,0.3);
    }

    &:active {

        border:none;
        outline: none;
        box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
    }
}

.splittermond button.play-only[type="roll"] {
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    padding: 0;
    border-radius: 6px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:before {
        content: "";
    }

    &:hover, &:focus {

        border:none;
        outline: none;
        box-shadow: 0 3px 4px rgba(0,0,0,0.3), 0 -3px 4px rgba(255,255,255,0.3);
    }

    &:active {

        border:none;
        outline: none;
        box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
    }
}

input[name="attr_editmode"]:not([value="on"]) ~ * .repcontrol {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    left: -10000px;
}
input[name="attr_editmode"][value="on"] ~ .play-only,
input[name="attr_editmode"][value="on"] ~ * .play-only {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    left: -10000px;
}


.splittermond {
    position: relative;
    background-color: $wood-color;
    background: $background-wood, linear-gradient(90deg, $wood-color 0%, rgba(43, 22, 25, 0.8) 50%, $wood-color 100%);
    background-blend-mode: overlay, normal;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding-bottom: 6px;
    margin: -10px;
    min-width: 690px;
    //overflow-x: hidden;
    clip: rect(0%,0%,100%,100%);
    color: white;
    @include standard-font();

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    label {
        @include standard-font();
    }

    h1 {
        @include standard-font($font-size-very-large);
    }

    h2 {
        @include standard-font($font-size-large);
    }

    h3 {
        @include standard-font();
        text-transform: uppercase;
        color: $main-color;
    }

    label {
        @include standard-font($font-size-normal);
        font-weight: normal;
        margin:0;

        //text-transform: uppercase;
        display: block;
        color: $main-color;

        .secondary {
            font-size: 0.75em;
            color: #666;
        }
    }


    .paper {
        max-width: 960px;
        min-height: 800px;
        margin-right: -30px;
        margin-top: -10px;

        color: black;
        
        border: 60px solid transparent;
        border-width: 40px 60px 60px 20px;
        border-image:$background-paper 40 60 60 20 fill stretch;
        box-sizing: border-box;

        .watermark {
            background-color: rgb(203, 218, 224);
            background: $image-splittermond;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }
    }

    .small {
        @include standard-font($font-size-small);
    }

    .large {
        @include standard-font($font-size-large);
    }

    .pc {
        position: relative;
        
    }

    .switch-field {
        display: flex;
        border-radius: 0.75em;
        width: auto;
        height: 1.5em;
        padding: 0px;
        margin: 0px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        box-sizing: border-box;
        
        overflow: hidden;

        color: white;
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3), 0px -1px 1px rgba(0, 0, 0, 0.5);

        position: relative;

        label {
            font-weight: normal;
            input {
                display: none;
            }
            span {
                position: relative;
                border-radius: 0;
                display: inline-block;
                box-sizing: border-box;
                padding: 0;
                padding-left: 0.5em;
                padding-right: 0.5em;
                color: white;
                margin: 0;
                font-weight: normal;
                
                height: 1.5em;
                box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.3);

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;

            }

            &:first-child span {
                border-top-left-radius: 0.75em;
                border-bottom-left-radius: 0.75em;
            }

            &:last-child span {
                border-top-right-radius: 0.75em;
                border-bottom-right-radius: 0.75em;
            }

            input[type="radio"]:checked ~ span {
                color: black;
                background-color: $main-color-light;
                box-shadow: inset 0px 4px 8px black;
            }
        }
    }

    .switch {
        display: inline-block;
        border-radius: 0.75em;
        width: auto;
        height: 1.5em;
        padding: 0px;
        margin: 0px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        
        overflow: hidden;

        color: white;
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);

        position: relative;

        .slider {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            margin-bottom: -1.5em;
            
            
            box-sizing: border-box;
            border-radius: 0.75em;
            box-shadow: inset 0px 4px 8px black;
            
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        input[type="checkbox"]:checked ~ .slider {
            background-color: $main-color-light;
        }

        .slider:before {
            content: '';
            display: block;
            position: absolute;
            width: 1.2em;
            height: 1.2em;
            border-radius: 0.7em;
            margin: 0.15em;
            background-color: $wood-color;
            background: $background-wood, $wood-color;
            background-blend-mode: overlay, normal;
            box-shadow: 0px 4px 8px black, inset 0px 1px 1px rgba(255, 255, 255, 0.3);
            left: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 1999;
        }

        input[type="checkbox"]:checked ~ .slider:before {
            left: 100%;
            margin-left: -1.35em;
        }




        .active, .inactive {
            display: block;
            clear: both;
            float: left;
            overflow: hidden;
            position: relative;
        }

        .active {
            padding-right: 1.6em;
            padding-left: 0.5em;
            color: black;
        }

        .inactive {
            padding-left: 1.6em;
            padding-right: 0.5em;
        }
        

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked ~ .active,
        input[type="checkbox"]:not(:checked) ~ .inactive {
            height: 100%;
        }

        input[type="checkbox"]:checked ~ .inactive,
        input[type="checkbox"]:not(:checked) ~ .active {
            height: 0px;
        }
    }

    .paper .switch {
        .slider:before {
            background: $background-paper;
            background-position: center;
        }
    }
    
    .paper input, .paper select {
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0;
        border: none;
        background-color: transparent;
        border-bottom: none;
        border-radius: 3px;
        display: inline-block;
        min-width: 1.6em;
        width: 100%;
        border-bottom: 1px solid transparent;
        color: black;
        vertical-align: baseline!important;
        height: auto!important;
        box-sizing: border-box;

        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            @include gradient-border;
            border-bottom: 1px solid;
        }

        optgroup {
            text-transform: uppercase;
            color: $main-color;
            line-height: inherit;
            option {
                text-transform: none;
                color: black;
                line-height: inherit;
            }
        }
    }

    .paper select {
        width: auto;
    }

    .paper textarea {
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0;
        border: none;
        background-color: transparent;
        border-bottom: none;
        border-radius: 3px;
        display: inline-block;
        min-width: 1.6em;
        width: 100%;
        @include gradient-background();
        @include gradient-border;
        border-bottom: 1px solid;
        border-top: 1px solid;
        color: black;
        vertical-align: baseline!important;
        height: auto!important;
        box-sizing: border-box;

        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            
            
        }
    }

    input[name="attr_editmode"]:not([value="on"]) ~ * .edit-only {
        position: absolute;
        height: 0px;
        width: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        left: -10000;
    }

    input[name="attr_editmode"][value="on"] ~ * .play-only {
        position: absolute;
        height: 0px;
        width: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        left: -10000;
    }


    span.autoexpand {
        position: relative;
        display: inline-block;
        input {
            position: absolute;
            width: 100%;
            z-index: 1000;
            left: 0px;
            vertical-align: baseline;
        }

        > span.autoexpand {
            visibility: hidden;
            display: inline-block;
            text-transform: inherit;
            font-size: 1em;
            font-weight: inherit;
            line-height: inherit;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            padding-right: 0.2em;
            //min-width: 1.5em;
            min-height: 1.5em;
            white-space: nowrap;

            &:empty:after {
                content: attr(placeholder);
            }
        }
    }

    .pre {
        white-space: pre-line;
        text-align: left;
    }
    .tab-content {
        display: none;
        margin-top: 10px;
    }

    

    button.play-only[type="action"] {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        box-sizing: content-box;
        padding: 0;
        border-radius: 6px;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover, &:focus {

            border:none;
            outline: none;
            box-shadow: 0 3px 4px rgba(0,0,0,0.3), 0 -3px 4px rgba(255,255,255,0.3);
        }

        &:active {

            border:none;
            outline: none;
            box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
        }
    }

    .tab-nav {
        position: sticky;
        vertical-align: baseline;
        top: 0;
        z-index: 2000;
        height: 5rem;
        box-sizing: border-box;
        background-color: $wood-color;
        background: $background-wood, linear-gradient(90deg, $wood-color 0%, rgba(43, 22, 25, 0.8) 50%, $wood-color 100%);
        background-blend-mode: overlay, normal;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;

        > button, > .switch {
            flex-shrink: 0;
        }

        button {
            @include standard-font();
            display: inline-block;
            padding: 0.5em;
            padding: 0.5em;
            background: transparent;
            border: none;
            outline: none;
            font-weight: 900;
            box-shadow: none;
            
            background: linear-gradient(#fff, $wood-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0px 1px 2px black);
            text-transform: uppercase;

            &:hover,
            &:active {
                background-color: $main-color-light;
                background: linear-gradient(180deg, #FFFFFF 20%, $main-color-light 80%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .icon {
            font-family: 'Pictos';
            text-transform: none;
        }

    }
    
    .tab-nav-shadow {
        position: sticky;
        top: 1rem;
        height: 4rem;
        z-index: 1999;
        box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
        margin-top:  -5rem;
        margin-bottom: 1rem;
    }



    input[name="attr_tab"] {
        $pc_tabs: einstellungen, grundwerte, fertigkeiten, kampf, ausruestung;
        @each $tabid in $pc_tabs {
            &[value=#{$tabid}] ~ .tab-group div .tab-content.#{$tabid} {
                display: flex;
            }

            &[value=#{$tabid}] ~ div.tab-nav button[name="act_#{$tabid}"] {
                background-color: $main-color-light;
                background: linear-gradient(180deg, #FFFFFF 20%, $main-color-light 80%), ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    

    .roll-options {
        flex-direction: column;
        position: sticky;
        background-color: $wood-color;
        background: $background-wood, linear-gradient(90deg, #2B1619ff 0%, rgba(43, 22, 25, 0.8) 50%, #2B1619ff 100%);
        background-blend-mode: overlay, normal;
        background-position: 0 -5rem;
        top: 5rem;
        height: 10rem;
        z-index: 2000;

        overflow: hidden;
        opacity: 1;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .data-section-row > span {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 5px;
        }

        button.incdec {
            font-family: "Pictos";
            width: 3.5rem;
            height: 3.5rem;
            padding: 0;
            margin: 0;
            color: white;
        }

        h2 {
            font-weight: 900;
            text-align: center;
            color: $wood-color;
            text-shadow: 0px 1px 1px rgba(255,255,255,0.5),  0px -1px 1px rgba(0,0,0,0.5);
        }

        label:not(.switch) {
            font-weight: 700;
            color: white;
            margin: 0;
            padding: 0;
            width: auto;
            text-align: center;
            //text-shadow: 0px 1px 1px rgba(255,255,255,0.5),  0px -1px 1px rgba(0,0,0,0.5);
        }

        input[type="number"] {
            background-color: transparent;
            color: white;
            font-size: $font-size-large;
            font-weight: bold;
            width: 3em;
            border: none;
            outline: none;
            box-shadow: inset 0px 4px 8px black, 0px 1px 1px rgba(255, 255, 255, 0.3), 0px -1px 1px black;
            text-align: center;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type="number"][name="attr_probenschwierigkeit"] {
            box-shadow: none;
            padding: 0;
            margin: 0;
            font-size: $font-size-very-large;
            font-weight: 900;

            background: linear-gradient(#fff, $main-color-light);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0px 1px 2px black);
            text-transform: uppercase;
        }

        input[type="number"][name="attr_probenmodifikator"] {
            box-shadow: none;
            padding: 0;
            margin: 0;
            font-size: $font-size-very-large;
            font-weight: 900;

            background: linear-gradient(#fff, $wood-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0px 1px 2px black);
            text-transform: uppercase;
        }

        input[name="attr_probenwurfoption"][value="sicherheit"] ~ * button[name="act_probenwurfoption_sicherheit"],
        input[name="attr_probenwurfoption"][value="standard"] ~ * button[name="act_probenwurfoption_standard"],
        input[name="attr_probenwurfoption"][value="risiko"] ~ * button[name="act_probenwurfoption_risiko"] {
            color: black;
            background-color: $main-color-light;
            box-shadow: inset 0px 4px 8px black;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    input[name="attr_editmode"][value="on"] ~ .roll-options {
        height: 0rem;
        opacity: 0;
    }

    .roll-options-shadow {
        position: sticky;
        top: 6rem;
        height: 9rem;
        z-index: 1999;
        box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
        margin-top:  -10rem;
        margin-bottom: 1rem;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    input[name="attr_editmode"][value="on"] ~ .roll-options-shadow {
        height: 0rem;
        opacity: 0;
    }

    .data-section {
        display: flex;
    }

    .data-section-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .data-section-column {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .data-area, .data-header {
        @include gradient-border();
        position:relative;
        display: grid;
        align-items: baseline;
        grid-template-columns: 1fr;
        gap: 5px;
        border-bottom: 1px solid;
        
    }

    .data-area {
        @include gradient-background();
        padding-bottom: 5px;
        input[type="number"],
        input[type="text"]{
            text-align:center;
            width: 100%;
        }
    }

    .data-header {
        span {
            @include standard-font($font-size-small);
            color: #666;
            justify-self: center;
        }

        h3 {
            white-space: nowrap;
        }

        h3:last-child {
            text-align: center;
        }
    }

    .main-value {
        @include standard-font($font-size-large);
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .grundwerte {
        flex-direction: column;
        align-items: center;

        h1 {
            display: block;
            width: 100%;
            text-align: center;
        }

        > * {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
    }

    .data-section-personal {
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid;
        @include gradient-border;

        .data-set {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;

            input {
                text-align: center;
            }

            label {
                display: block;
                text-align: center;
                margin-top: -0.4em;
            }
        }
    }

    .data-section-attribute,
    .data-section-abgeleitetewerte  {
        .data-area,
        .data-header {
            grid-template-columns: 6em 2em 2.5em 2.5em 2.5em;
        }

        .data-area {
            padding-bottom: 5px;
            label {
                @include standard-font($font-size-normal);
                text-align: right;
                align-self: center;
                font-weight: bold;
                .secondary{
                    display:block;
                    font-weight: normal;
                    line-height: 1em;
                }
            }

            label span.secondary {
                line-height: 1em;
            }


            input[name$="start"] {
                color: #666;
            }
        }
    }

    input[name="attr_editmode"]:not([value="on"]) ~ * .data-section-attribute {
        .data-area,
        .data-header {
            grid-template-columns:  6em 2em;
        }
    }
    

    .data-section-abgeleitetewerte {
        .data-area,
        .data-header {
            grid-template-columns: 8em 3.5em 2.5em;
        }
    }

    input[name="attr_editmode"]:not([value="on"]) ~ * .data-section-abgeleitetewerte {
        .data-area,
        .data-header {
            grid-template-columns:  8em 3.5em;
        }
    }

    
    
    .data-section-erfahrungspunkte {
        flex-shrink: 10;
        .data-area {
            grid-template-columns: 1fr 3em;

            label {
                text-align: right;
            }

            span, input {
                text-align: center;
            }
        }
    }

    .data-section-geld {
        .data-area {
            grid-template-columns: 1fr 3em 1fr 3em 1fr 3em;

            label {
                text-align: right;
            }

            span, input {
                text-align: center;
            }
        }
    }
    

    .data-section-ressourcen {
        .data-area {
            div > div {
                display: grid;
                grid-template-columns: 12em 2.5em;
                padding-bottom: 5px;

                input{
                    text-align: center;
                }
            }

            div > div:last-child {
                padding-bottom: 0px;
            }
        }
    }
    .data-section-staerken {
        @extend .data-section-ressourcen;
    }
    .data-section-schwaechen {
        @extend .data-section-ressourcen;
        .data-area {
            div > div {
                grid-template-columns: 12em;
            }
        }
    }

    .data-section-sprachen {
        @extend .data-section-schwaechen;
    }

    .data-section-kulturkunde {
        @extend .data-section-schwaechen;
    }

    .data-section-attributmods {
        //min-width: 35em;
        //max-width: 45em;

        .data-header {
            grid-template-columns: 1.5em 1fr 15em 2.5em;

            h3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        .data-area {
            div > div {
                display: grid;
                gap: 5px;
                grid-template-columns: 1.5em 1fr 15em 2.5em;
                align-items: baseline;
                margin-bottom: 5px;
                padding-bottom: 0px;
                input[type="checkbox"]:not(:checked) ~ * {
                    color: rgba(0,0,0,0.5);
                }
            }
        }
    }

    .fertigkeiten {
        > div {
            margin-top:20px;
        }

        
    }

    .data-section-fertigkeiten {
        display: flex;
        flex-direction: column;

        .data-header,
        .data-area {
            grid-template-columns: 9em 2.5em 2.5em 2.5em;
        }
        
        .data-area {
            
            label {
                text-align: right;
                .secondary{
                    display:block;
                }
            }

            input {
                @include standard-font($font-size-large);
            }

            input[name$="punkte"],
            input[name$="moduser"] {
                @include standard-font($font-size-normal);
            }           

            .data-entry {
                @include gradient-border();
                border-bottom: solid 1px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .tooltiptext {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 5px;
                font-size: 1em;
                width: 12em;
                margin-left: -6em;
                
                label {
                    font-size: 1em;
                    width: 100%;
                    text-align: right;
                }

                span {
                    text-align: left;
                    color: black;
                    font-size: 1em;
                    font-weight: bold;
                }
                span.pre {
                    text-align: left!important;
                    color: $main-color;
                    font-size: 1em;
                    grid-column-start: 1;
                    grid-column-end: 5;
                    font-weight: normal;
                    text-align: center;
                }
            }
        }
    }

    .data-section-magieschulen {
        @extend .data-section-fertigkeiten;
    }

    .data-section-kampffertigkeiten {
        @extend .data-section-fertigkeiten;
    }

    input[name="attr_editmode"]:not([value="on"]) ~ * .data-section-fertigkeiten {
        .data-header {
            grid-template-columns:  1fr;
        }
        .data-area {
            grid-template-columns:  9em 2.5em;
        }
    }

    .kampf {
        flex-direction: column;
        align-items: center;

        > div {
            margin-top:20px;
        }

        
    }

    .data-section-lebenspunkte {
        display: flex;
        flex-direction: column;

        .data-area.lebenspunkte  {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding-top: 5px;
            padding-bottom: 5px;

            .gesundheitsstufen {
                width: 8em;
                padding-right: 10px;
                span {
                    display: block;
                    text-align: right;
                    width: 100%;
                    color: #666;
                }

                input[name="attr_gesundheitsstufe"][value="1"] ~ span.unverletzt,
                input[name="attr_gesundheitsstufe"][value="2"] ~ span.angeschlagen,
                input[name="attr_gesundheitsstufe"][value="3"] ~ span.verletzt,
                input[name="attr_gesundheitsstufe"][value="4"] ~ span.schwerverletzt,
                input[name="attr_gesundheitsstufe"][value="5"] ~ span.todgeweiht,
                input[name="attr_gesundheitsstufe"][value="6"] ~ span.todgeweiht {
                    font-weight: bold;
                    color: black;
                }
            }
            .lebenspunkte {
                font-family: "Pictos";
                word-break: break-all;

                .verzehrt {
                    color: $main-color;
                }

                .erschoepft {
                    color: $main-color-light;
                }

                .kanalisiert {
                    color: #999;
                }

                .lebenspunkte-t {
                    color: white;
                }
            }

            @for $i from 4 through 30 {
                input[name="attr_lebenspunkte"][value="#{$i}"] ~ .lebenspunkte {
                    width: 0.84em * $i;
                }
            }
            

        }

        .data-area.wundabzug {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 100%;
            label {
                width: 8em;
                text-align: right;
                padding-right: 10px;
            }

            span, 
            input{
                display: inline-block;
                width: 3em;
                font-size: 1.2em;
                line-height: 1.5em;
            }
        }

        .data-area.schaden {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            width: 100%;
            label {
                display: block;
                width: 100%;
                text-align: center;
            }

            .action {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: center;
                width: 100%;

                input {
                    width: 3em;
                    text-align: right;
                }

                select {
                    width: 6em;
                }
            }
        }
    }

    .data-section-schaden {
        .data-area {
            padding-top: 5px;
            grid-template-columns:  auto 2.5em auto auto;
        }
    }

    .data-section-regeneration {
        .data-area {
            padding-top: 5px;
            grid-template-columns:  1fr 1fr;

            label {
                text-align: right;
            }
            input {
                width: 2.5em;
            }
        }
    }

    .data-section-aktiveabwehr {
        
        .data-area {
            padding-top: 5px;
            grid-template-columns:  1fr 2.5em;

            label {
                text-align: right;
            }

            span {
                display: block;
                box-sizing: border-box;
                padding: 0.2em;
            }

            button[type="roll"] {
                position: absolute;
                z-index: 1001;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                box-sizing: content-box;
                padding: 0;
                border-radius: 6px;
                &:before {
                    content: "";
                }

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover, &:focus {

                    border:none;
                    outline: none;
                    box-shadow: 0 3px 4px rgba(0,0,0,0.3), 0 -3px 4px rgba(255,255,255,0.3);
                }

                &:active {

                    border:none;
                    outline: none;
                    box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
                }
            }
            

            
        }
    }

    
    .data-section-zustaende {
        .data-area {
            padding-top: 5px;
            
            div > div {
                display: grid;
                gap: 5px;
                grid-template-columns: 1.5em 1fr 2.5em;
                align-items: baseline;
                margin-bottom: 5px;

                input[type="checkbox"]:not(:checked) ~ * {
                    color: rgba(0,0,0,0.5)
                }
                
            }
        }
    }

    .data-section-fokus {
        display: flex;
        flex-direction: column;

        width: 12em;

        .data-area.fokus  {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding-top: 5px;
            padding-bottom: 5px;

            font-family: "Pictos";
            word-break: break-word;

            .verzehrt {
                color: $main-color;
            }

            .erschoepft {
                color: $main-color-light;
            }

            .kanalisiert {
                color: #999;
            }

            .lebenspunkte-t {
                color: white;
            }
        }
    }


    .data-section-waffen {
        display: flex;
        flex-direction: column;
        align-self: stretch;

        margin-left: 5%;
        margin-right: 5%;

        .data-header, .data-area {
            grid-template-columns: 14em 2.5em 2.5em 4em 2.5em 2.5em 1fr ;
        }

        .data-area {
            input[name="attr_waffenname"] {
                text-align: left;
                //font-weight: bold;
                color: $main-color;
            }

            select[name="attr_waffenskill"],
            select[name^="attr_waffenattr"] {
                font-size: $font-size-small;
                width: auto;
            }

            span[name="attr_waffenwert"] {
                @include standard-font($font-size-large);
                text-align: center;
            }

            input[name="attr_waffenmod"]:before {
                content: "+";
            }

            input[name="attr_waffennotizen"] {
                font-size: $font-size-small;
                font-style: italic;
                grid-column: 3 / 8;
                text-align:left;
            }

            label {
                display: inline;
                padding-left: 10px;
            }

            > div {
                box-sizing: border-box;
                grid-column: 1 / 8;
                display: grid;
                grid-template-columns: 1fr 2fr ;
                width: 100%;

                padding: 5px;
                border-radius: 6px;
                box-shadow: inset 0 3px 4px rgba(0,0,0,0.3), inset 0 -3px 4px rgba(255,255,255,0.3);
                
            }
        }
    }

    .show-more  {
        position: relative;
        display: inline-block;
        input {
            display: none;
        }

        input:checked ~ span {
            transform: rotate(90deg);
        }
        
        span {
            display: inline-block;
            font-family: "Pictos";
            color: black;
            font-size: $font-size-small;

            -webkit-transition: transform 0.3s ease;
            -moz-transition: transform 0.3s ease;
            -o-transition: transform 0.3s ease;
            -ms-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
        }

        
    }

    .data-section-zauber {
        @extend .data-section-waffen;

            .data-header,
            .data-area {
                grid-template-columns: 1.5em minmax(10em, auto) 2.5em 2.5em 2.5em 4em 6em 2.5em 2.5em 2.5em;
                h3 {
                    grid-column: 1 / 3;
                }
                
            }

            .data-area {
                input[name="attr_zaubername"] {
                    text-align: left;
                    //font-weight: bold;
                    color: $main-color;
                }

                select[name="attr_magieschulen"]{
                    position: relative;
                    top: -2px;
                    padding: 2px;
                    margin: 0px;
                    @include standard-font($font-size-small);
                    width: auto;
                }

                span[name="attr_zauberwert"] {
                    @include standard-font($font-size-large);
                    text-align: center;
                }

                textarea[name="attr_zauberwirkung"] {
                    display: block;
                    //box-sizing: border-box;
                    text-align: left;
                    grid-column: 2 / 11;
                    height: auto;
                }

                input[name="attr_zaubershowmore"]:not([value="on"]) ~ textarea[name="attr_zauberwirkung"] {
                        display: none;
                }
            }
    }

    .data-section-ruestungen,
    .data-section-schilde {
        display: flex;
        flex-direction: column;

        align-self: stretch;
        margin-left: 5%;
        margin-right: 5%;

        .data-area > div > div,
        .data-header {
            align-items: baseline;
            display: grid;
            grid-template-columns: 1.5em 1.5fr 2.5em 2.5em 2.5em 2.5em 1fr;
            gap: 5px;
        }

        

        .data-area > div > div,
        .data-header {
            
            align-items: baseline;
            padding-top: 5px;
            padding-bottom: 5px;

            input[type="checkbox"]:not(:checked) ~ * {
                color: rgba(0,0,0,0.5);
            }

            input, select {
                text-align:center;
                width: 100%;
                font-size: 1em;
            }
            input[name$="name"] {
                text-align:left;
            }
            span {
                text-align: center;
            }

            label {
                text-align: right;
            }
            
        }
    }

    .data-section-meisterschaften {
        display: flex;
        flex-direction: column;

        align-self: stretch;
        margin-left: 5%;
        margin-right: 5%;

        .data-area > div > div,
        .data-header {
            align-items: baseline;
            display: grid;
            grid-template-columns: 12em 11em 2.5em auto;
            gap: 5px;
        }

        

        .data-area > div > div,
        .data-header {
            
            align-items: baseline;
            padding-top: 5px;
            padding-bottom: 5px;


            input, select {
                text-align:left;
                width: 100%;
            }

            input[type="number"] {
                text-align:center;
                width: 100%;
            }
            
        }
    }


    .ausruestung {
        flex-direction: column;
        align-items: center;
        > div {
            margin-top:10px;
        }
        
    }

    .data-section-ausruestung {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-left: 5%;
        margin-right: 5%;

        h3 {
            align-items: baseline;
            display: grid;
            grid-template-columns: 2em 1fr;
            width: 100%;
            text-align: left;
            white-space: nowrap;
            input[type="text"] {
                text-align: left;
            }
        }

        input[name^="attr_behaelter"]:not([value="1"]) ~ div {
            display: none;
        }

        .data-header,
        .data-area {
            grid-template-columns: 2em 2.5em minmax(10em, auto) 2.5em 2.5em 8em minmax(10em, auto);
        }

        .data-area {
            input[type="text"] {
                text-align: left;
            }

            select[name="attr_zustand"]{
                width: auto;
            }

            label {
                text-align: right;
            }

            span {
                text-align: center;
            }
        }
    }

    input[name="attr_editmode"]:not([value="on"]) ~ * input[name^="attr_behaelter"]:not([value="1"]) ~ .data-section-ausruestung {
        display: none;
    }



    .tooltip {
        position: relative;
        display: inline-block;
        vertical-align: baseline;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        position: absolute;
        box-sizing: border-box;
        z-index: 2000;
        visibility: hidden;
        background-color: white;
        color: $main-color;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        width: 8em;
        bottom: 100%;
        left: 50%;
        margin-left: -4em;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);      
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;

        &::before {
            all: initial;
            display: inline-block;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;		  
            border-top: 10px solid white;
            position: absolute;
            bottom: -10px;
            content: '';
            left: 50%;
            transform: translate(-50%, 0);
            margin-bottom: 5px;
        } 
    
    }

}




