mixin tab-nav-item(tabId)
    button(type="action" name="act_"+tabId)
        block

input(name="attr_tab" type="hidden" value="grundwerte")
.tab-nav
    +tab-nav-item("einstellungen", "icon")
        span.icon y
    +tab-nav-item("grundwerte") 
        | Grundwerte
    +tab-nav-item("fertigkeiten")
        | Fertigkeiten & Magie
    +tab-nav-item("kampf") 
        | Kampf &  Meisterschaften
    +tab-nav-item("entwicklung") 
        | Charakterentwicklung
    +tab-nav-item("ausruestung")
        | Ausrüstung


.tab-group.paper
    .watermark
        .tab-content.einstellungen
            h2 Einstellungen
        .tab-content.grundwerte
            include tabs/grundwerte.pug
        .tab-content.fertigkeiten
            include tabs/fertigkeiten.pug
        .tab-content.kampf
            include tabs/kampf.pug
        .tab-content.entwicklung
            h2 entwicklung
            div
                label Erfahrungspunkte
                +numberinput("epgesamt")
            div
                label Erfahrungspunkte (eingesetzt)
                +numberinput("epeingesetzt")
            div
                label Erfahrungspunkte (offen)
                +numberinput("epoffen")
            div
                label Heldengrad
                +numberinput("heldengrad")
        .tab-content.ausruestung 
            h2 Aussrüstung