mixin tab-nav-item(tabId)
    button(type="action" name="act_"+tabId)
        block

+hiddeninput("editmode", "")

+hiddeninput("tab", "grundwerte")
.tab-nav
    +tab-nav-item("einstellungen", "icon")
        span.icon y
    +tab-nav-item("grundwerte") 
        | Grundwerte
    +tab-nav-item("fertigkeiten")
        | Fertigkeiten & Magie
    +tab-nav-item("kampf") 
        | Kampf &  Meisterschaften
    +tab-nav-item("ausruestung")
        | Ausrüstung
    label.switch
        input(type="checkbox", name="attr_editmode")
        span.slider
        span.active edit
        span.inactive play

.tab-nav-shadow

.tab-group.paper
    .watermark
        .tab-content.einstellungen
            h2 Einstellungen
            div
                | 7
                +textinput("test","7", true)
                |&nbsp(+
                +textinput("testmod","0", true)
                | )
                
        .tab-content.grundwerte
            include tabs/grundwerte.pug
        .tab-content.fertigkeiten
            include tabs/fertigkeiten.pug
        .tab-content.kampf
            include tabs/kampf.pug
        .tab-content.ausruestung 
            include tabs/ausruestung.pug
        