mixin tab-nav-item(tabId)
    button(type="action" name="act_"+tabId)
        block

+hiddeninput("editmode", "")

+hiddeninput("tab", "grundwerte")
.tab-nav
    +tab-nav-item("einstellungen", "icon")
        span.icon y
    +tab-nav-item("grundwerte") 
        | Grundwerte
    +tab-nav-item("fertigkeiten")
        | Fertigkeiten & Magie
    +tab-nav-item("kampf") 
        | Kampf &  Meisterschaften
    +tab-nav-item("ausruestung")
        | Ausrüstung
    label.switch
        input(type="checkbox", name="attr_editmode")
        span.slider
        span.active edit
        span.inactive play

.tab-nav-shadow

.roll-options
    h2 Probenoption
    .data-section-row
        span
            label Modifikator
            span
                button.incdec(type="action", name="act_decmod") _
                +numberinput("probenmodifikator",0)
                button.incdec(type="action", name="act_incmod") &
        span
            label Schwierigkeit
            span
                button.incdec(type="action", name="act_decschwierigkeit") _
                +numberinput("probenschwierigkeit",15)
                button.incdec(type="action", name="act_incschwierigkeit") &
        span
            label Wurfoption
            span.switch-field
                label
                    +radioinput("probenwurfoption", "[[{[[1d10]], [[0]], [[0]], [[0]]}k1]]")
                    span Sicherheit
                label
                    +radioinput("probenwurfoption", "[[{[[1d10]], [[1d10]], [[0]], [[0]]}k2]]")
                    span Standard
                label 
                    +radioinput("probenwurfoption", "[[{[[[[1d10]], [[1d10]], [[1d10]], [[1d10]]]}k2]]")
                    span Risiko
        span
            label Sichtbarkeit
            label.switch
                input(type="checkbox", name="attr_probensichtbarkeit", value="/w GM")
                span.slider
                span.active GM
                span.inactive Alle
.roll-options-shadow.play-only

.tab-group.paper
    .watermark
        .tab-content.einstellungen
            include tabs/einstellungen.pug
        .tab-content.grundwerte
            include tabs/grundwerte.pug
        .tab-content.fertigkeiten
            include tabs/fertigkeiten.pug
        .tab-content.kampf
            include tabs/kampf.pug
        .tab-content.ausruestung 
            include tabs/ausruestung.pug
        