-
    var fertigkeiten = {
        "akrobatik": {
            "Name": "Akrobatik",
            "Attribute": [
                "Beweglichkeit",
                "Staerke"
            ]
        },
        "alchemie": {
            "Name": "Alchemie",
            "Attribute": [
                "Mystik",
                "Verstand"
            ]
        },
        "anfuehren": {
            "Name": "Anführen",
            "Attribute": [
                "Ausstrahlung",
                "Willenskraft"
            ]
        },
        "arkanekunde": {
            "Name": "Arkane Kunde",
            "Attribute": [
                "Mystik",
                "Verstand"
            ]
        },
        "athletik": {
            "Name": "Athletik",
            "Attribute": [
                "Beweglichkeit",
                "Staerke"
            ]
        },
        "darbietung": {
            "Name": "Darbietung",
            "Attribute": [
                "Ausstrahlung",
                "Willenskraft"
            ]
        },
        "diplomatie": {
            "Name": "Diplomatie",
            "Attribute": [
                "Ausstrahlung",
                "Verstand"
            ]
        },
        "edelhandwerk": {
            "Name": "Edelhandwerk",
            "Attribute": [
                "Intuition",
                "Verstand"
            ]
        },
        "empathie": {
            "Name": "Empathie",
            "Attribute": [
                "Intuition",
                "Verstand"
            ]
        },
        "entschlossenheit": {
            "Name": "Entschlossenheit",
            "Attribute": [
                "Ausstrahlung",
                "Willenskraft"
            ]
        },
        "fingerfertigkeit": {
            "Name": "Fingerfertigkeit",
            "Attribute": [
                "Ausstrahlung",
                "Beweglichkeit"
            ]
        },
        "geschichtenundmythen": {
            "Name": "Geschichten & Mythen",
            "Attribute": [
                "Mystik",
                "Verstand"
            ]
        },
        "handwerk": {
            "Name": "Handwerk",
            "Attribute": [
                "Konstitution",
                "Verstand"
            ]
        },
        "heilkunde": {
            "Name": "Heilkunde",
            "Attribute": [
                "Intuition",
                "Verstand"
            ]
        },
        "heimlichkeit": {
            "Name": "Heimlichkeit",
            "Attribute": [
                "Beweglichkeit",
                "Intuition"
            ]
        },
        "jagdkunst": {
            "Name": "Jagdkunst",
            "Attribute": [
                "Konstitution",
                "Verstand"
            ]
        },
        "laenderkunde": {
            "Name": "Länderkunde",
            "Attribute": [
                "Intuition",
                "Verstand"
            ]
        },
        "naturkunde": {
            "Name": "Naturkunde",
            "Attribute": [
                "Intuition",
                "Verstand"
            ]
        },
        "redegewandtheit": {
            "Name": "Redegewandtheit",
            "Attribute": [
                "Ausstrahlung",
                "Willenskraft"
            ]
        },
        "schloesserundfallen": {
            "Name": "Schlösser & Fallen",
            "Attribute": [
                "Intuition",
                "Beweglichkeit"
            ]
        },
        "schwimmen": {
            "Name": "Schwimmen",
            "Attribute": [
                "Konstitution",
                "Staerke"
            ]
        },
        "seefahrt": {
            "Name": "Seefahrt",
            "Attribute": [
                "Beweglichkeit",
                "Konstitution"
            ]
        },
        "strassenkunde": {
            "Name": "Straßenkunde",
            "Attribute": [
                "Ausstrahlung",
                "Intuition"
            ]
        },
        "tierfuehrung": {
            "Name": "Tierfuehrung",
            "Attribute": [
                "Ausstrahlung",
                "Beweglichkeit"
            ]
        },
        "ueberleben": {
            "Name": "Überleben",
            "Attribute": [
                "Intuition",
                "Konstitution"
            ]
        },
        "wahrnehmung": {
            "Name": "Wahrnehmung",
            "Attribute": [
                "Intuition",
                "Willenskraft"
            ]
        },
        "zaehigkeit": {
            "Name": "Zähigkeit",
            "Attribute": [
                "Konstitution",
                "Willenskraft"
            ]
        }
    }