html
    head
        meta(charset="UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js", type="text/javascript")
        script(src="https://app.roll20dev.net/v2/js/jquery-1.9.1.js", type="text/javascript")
        script(src="https://app.roll20dev.net/v2/js/jquery.migrate.js", type="text/javascript")
        script(src="https://app.roll20dev.net/js/jquery-ui.1.9.0.custom.min.js", type="text/javascript")
        script
            include ../js/sheetworker-api.js
        script. 
            $(document).ready(function () {
                $('.characterdialog').dialog({width: 960, height: 800});
            });
        link(rel="stylesheet", href="https://app.roll20dev.net/assets/base.css", type="text/css")
        link(rel="stylesheet", href="https://app.roll20.net/assets/app.css", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Patrick+Hand|Contrail+One|Shadows+Into+Light|Candal&amp;subset=latin,latin-ext" , type="text/css")
        link(rel="stylesheet", href="sheet.css", type="text/css")
        style rolltemplate //{display:none}
        title Roll20 - Splittermond
    body.no-touch
        .dialog.characterdialog(title="Charaktername")
            .dialog.largedialog.characterviewer(style="display: block")
                ul.nav.nav-tabs
                    li 
                        a(href="javascript:void(0)", data-tab="bioinfo") Bio &amp; Info
                    li.active
                        a(href="javascript:void(0)", data-tab="charsheet") Charactersheet
                    li
                        a(href="javascript:void(0)", data-tab="attributesabilities") Attributes &amp; Abilities
                .tab-content
                    form.sheetform(autocomplete="off")
                        .charactersheet.tab-pane.charsheet.lang-de(style="display: block")
                            include ../../dist/sheet.html