<h1>Einstellungen</h1>

<h2>Genesis-Import</h2>

<ol>
    <li>Drucke den Charakter aus und w&auml;hle als Ausgabeformat "<i>Splittermond JSON Export</i>"</li>
    <li>Kopiere den Inhalt der JSON-Datei in das untenstehende Textfeld</li>
    <li>Klicke auf "Import starten" (der Import kann ein paar Sekunden dauern)</li>
</ol>

.data-section-jsonimport
        .data-header
            h3 JSON-Input
        .data-area
            textarea(name="attr_jsonimport")