+hiddeninput("erschoepft", 0)
+hiddeninput("lahm", 0)
+hiddeninput("benommen", 0)
+hiddeninput("verwundet", 0)

.data-section-lebenspunkte
    .data-header
        h3 Lebenspunkte
    .data-area
        +hiddeninput("lebenspunkte",0)
        .gesundheitsstufen
            
            +hiddeninput("wundabzugmod",0)
            +hiddeninput("gesundheitsstufe",1)
            span.unverletzt Unverletzt
            span.angeschlagen Angeschlagen
            span.verletzt Verletzt
            span.schwerverletzt Schwer verletzt
            span.todgeweiht Todgeweiht
        .lebenspunkte
            +hiddeninput("lebenspunkte_v",0)
            +hiddeninput("lebenspunkte_b",0)
            +hiddeninput("lebenspunkte_k",0)
            +hiddeninput("lebenspunkte_t",0)
            +hiddeninput("sr1",1)
            +hiddeninput("sr2",1)
            span.verzehrt(name="attr_lebenspunkte_v_bar")
            span.erschoepft(name="attr_lebenspunkte_e_bar")
            span.kanalisiert(name="attr_lebenspunkte_k_bar")
            span.lebenspunkte-t(name="attr_lebenspunkte_t_bar")
    .data-area
        label Wundabzug
        span(name="attr_wundabzug")
        +numberinput("wundabzugmoduser")

.data-section-nahkampfwaffen
    .data-header
        h3 Waffen
        span Fertigkeit
        span Attribute
        span Mod.
        span Wert
        span
    .data-area
        fieldset.repeating_nahkampfwaffen
            +textinput("waffenname","", false, {placeholder: "Waffenname"})
            select(name="attr_waffenskill") 
                each fertigkeit, id in splittermond.kampffertigkeiten
                    option(value=id)= fertigkeit.Name
            span.attribute
                select(name="attr_waffenattr1") 
                    each attribut, id in splittermond.attribute
                        option(value=id)= attribut.short
                select(name="attr_waffenattr2") 
                    each attribut, id in splittermond.attribute
                        option(value=id)= attribut.short
            +numberinput("waffenmod",3)
            span(name="attr_waffenwert")
            span
                +hiddeninput("nahwaffenattrmod")
                +hiddeninput("damageroll")
                +hiddeninput("rolldamage","[Wirf!](~repeating_nahkampfwaffen_show_damage)")
                +hiddeninput("showing_damage","[Wirf!](~repeating_nahkampfwaffen_show_damage)", "&{template:splittermond_damage} {{charactername=@{character_name}}} {{name=Waffe: @{waffenname}}} {{damage=[[@{damageroll}]]}}")
                button(type="roll" value="@{abilityroll} {{name=Waffe: @{waffenname}}} {{charactername=@{character_name}}} {{damage=@{rolldamage}}} {{Probe=[[?{Art des Wurfs|Standardwurf, 2d10cs>10cf<1 | Sicherheitswurf, 2d10d1cs>10cf<1 | Risikowurf, 4d10k2cs>10cf<1} + @{waffenwert} + @{waffenmod} + @{nahwaffenattrmod} + ?{Modifikator|0} + @{angriffsbonus} + @{kampffertigkeitenbonus} + @{hiddenallfert} - @{geblendet} - @{erschoepft} - @{schadensmod}]]}} {{schwierigkeit=[[1d0 + ?{Schwierigkeit|15}]]}} {{Ticks=[[@{waffenwgs}+@{gesamttickplus}+@{benommen}}]]}} {{sm27=[[?{Schwierigkeit}-27]]}} {{sm26=[[?{Schwierigkeit}-26]]}} {{sm24=[[?{Schwierigkeit}-24]]}} {{sm23=[[?{Schwierigkeit}-23]]}} {{sm21=[[?{Schwierigkeit}-21]]}} {{sm20=[[?{Schwierigkeit}-20]]}}  {{sm18=[[?{Schwierigkeit}-18]]}} {{sm17=[[?{Schwierigkeit}-17]]}} {{sm15=[[?{Schwierigkeit}-15]]}} {{sm14=[[?{Schwierigkeit}-14]]}} {{sm12=[[?{Schwierigkeit}-12]]}} {{sm11=[[?{Schwierigkeit}-11]]}} {{sm9=[[?{Schwierigkeit}-9]]}} {{sm8=[[?{Schwierigkeit}-8]]}} {{sm6=[[?{Schwierigkeit}-6]]}} {{sm5=[[?{Schwierigkeit}-5]]}} {{sm3=[[?{Schwierigkeit}-3]]}} {{sm2=[[?{Schwierigkeit}-2]]}} {{sm1=[[?{Schwierigkeit}-1]]}} {{s0=[[?{Schwierigkeit}]]}} {{s2=[[2+?{Schwierigkeit}]]}} {{s3=[[3+?{Schwierigkeit}]]}} {{s5=[[5+?{Schwierigkeit}]]}} {{s6=[[6+?{Schwierigkeit}]]}} {{s8=[[8+?{Schwierigkeit}]]}} {{s9=[[9+?{Schwierigkeit}]]}} {{s11=[[11+?{Schwierigkeit}]]}} {{s12=[[12+?{Schwierigkeit}]]}} {{s14=[[14+?{Schwierigkeit}]]}} {{s15=[[15+?{Schwierigkeit}]]}} {{s17=[[17+?{Schwierigkeit}]]}} {{s18=[[18+?{Schwierigkeit}]]}} {{s20=[[20+?{Schwierigkeit}]]}} {{s21=[[21+?{Schwierigkeit}]]}} {{s23=[[23+?{Schwierigkeit}]]}} {{s24=[[24+?{Schwierigkeit}]]}} {{s26=[[26+?{Schwierigkeit}]]}} {{s27=[[27+?{Schwierigkeit}]]}} {{s28=[[28+?{Schwierigkeit}]]}} {{s29=[[29+?{Schwierigkeit}]]}} {{s30=[[30+?{Schwierigkeit}]]}} {{s31=[[31+?{Schwierigkeit}]]}} {{s32=[[32+?{Schwierigkeit}]]}} {{s33=[[33+?{Schwierigkeit}]]}} {{s34=[[34+?{Schwierigkeit}]]}} {{s35=[[35+?{Schwierigkeit}]]}} {{s36=[[36+?{Schwierigkeit}]]}} {{s37=[[37+?{Schwierigkeit}]]}} {{s38=[[38+?{Schwierigkeit}]]}} {{s39=[[39+?{Schwierigkeit}]]}} {{s40=[[40+?{Schwierigkeit}]]}} {{s41=[[41+?{Schwierigkeit}]]}}")
                button(type="roll",value="&{template:splittermond_aktiveabwehr} {{waffenname=@{waffenname}}} {{naming=[[2d1]]}} {{def=[[1d0 + @{waffendefensiv}]]}} {{charactername=@{character_name}}} {{Wurf=[[?{Art des Wurfs|Standardwurf, 2d10cs>10cf<1 | Sicherheitswurf, 2d10d1cs>10cf<1 | Risikowurf, 4d10k2cs>10cf<1} + ?{Modifikator|0} + @{waffenwert} + @{waffenmod} + @{kampffertigkeitenbonus} + @{hiddenallfert} - @{erschoepft} - @{schadensmod}]]}} {{schwierigkeit=[[?{Schwierigkeit|15}]]}} {{v=[[1d0 + @{verteidigung}]]}} {{Ticks=[[3]]}} {{v1=[[1d1 + @{verteidigung}]]}} {{v2=[[2d1 + @{verteidigung}]]}} {{v3=[[3d1 + @{verteidigung}]]}} {{v4=[[4d1 + @{verteidigung}]]}} {{v5=[[5d1 + @{verteidigung}]]}} {{v6=[[6d1 + @{verteidigung}]]}} {{v7=[[7d1 + @{verteidigung}]]}} {{v8=[[8d1 + @{verteidigung}]]}} {{v9=[[9d1 + @{verteidigung}]]}} {{v10=[[10d1 + @{verteidigung}]]}} {{v11=[[11d1 + @{verteidigung}]]}} {{v12=[[12d1 + @{verteidigung}]]}} {{v13=[[13d1 + @{verteidigung}]]}} {{v14=[[14d1 + @{verteidigung}]]}} {{v15=[[15d1 + @{verteidigung}]]}} {{v16=[[16d1 + @{verteidigung}]]}} {{v17=[[17d1 + @{verteidigung}]]}} {{v18=[[18d1 + @{verteidigung}]]}} {{v19=[[19d1 + @{verteidigung}]]}} {{v20=[[20d1 + @{verteidigung}]]}} {{v21=[[21d1 + @{verteidigung}]]}}")
                                
            .second-line
                +hiddeninput("waffenskill")
                span
                    +textinput("waffenmerkmale","", true, {placeholder: "-"})
                    label Merkmale
                +hiddeninput("waffenexakt")
                +hiddeninput("waffenscharf")
                +hiddeninput("waffenkritisch")
                +hiddeninput("waffendefensiv")
                span(style="max-width: 3em;")
                    +numberinput("waffenwgs",3)
                    label WGS
                span.reichweite(style="max-width: 3em;")
                    +numberinput("waffenreichweite",3)
                    label RW
                span(style="max-width: 6em;")
                    +textinput("waffenschaden","W6")
                    label Schaden
            
            
            
            
            
